body
{
        margin:0;
        padding: 0;
        width: 100%;
        color: #303030;
        text-align:center;
        font-family: Verdana, Tahoma, "Trebuchet MS", sans-serif;
        font-size: 14px;        
}
#header 
{
    padding:10px;
}

#footer 
{
    padding: 10px;
    color:#808080;
}
#topSeparator {
    margin-bottom:20px
}
#bottomSeparator {
    margin-top:20px;
}